.label-update-password {
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1rem;
    color: #555;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

.input-update-password {
    display: inline-block;
    /* width: 400px; */
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: solid 1px lightblue;
    border-radius: 0.5rem;
}

.update-password-form{
    width: 50%;
    align-content: center;
    background-color: lightskyblue;
    margin: auto;
    padding: 2rem;
    margin-top: 100px;
    border-radius: 1rem;
    box-shadow: inset 0 0 20px lightslategrey;
}

.button-update-password{
    margin: 1rem;
    box-shadow: 0 0 10px lightslategrey;
}